@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Daniel Koprowski</h1>
    <p class="lead">Algorytm <b>Liu</b> dla problemu jednomaszynowego o zdaniach podzielnych.</p>
    <p>
        <ul>
            Implementacja algorytmu obejmuje:
            
            <li>Tworzenie nowego zadania</li>
            <li>Edycję obecnych w systemie zadań</li>
            <li>Usuwanie zadań</li>
            <li>Sortowanie wg. algorytmu Liu</li>
            <li>Wyświetlanie tabeli posortowanych zadań w postaci graficznej</li>
        </ul>
    </p>
    <p><a href="/Liu" class="btn btn-primary btn-large">Algorytm Liu &raquo;</a></p>
</div>

